@page "/list-all-doctors"
@using Controller
@using Model
@using Model.Data
@inject IController Controller
@inject IModel Model

<RadzenButton Icon="load" Text="Load" Click="@Controller.GetDoctorsAsync" Style="width: 160px"/>

<div class="container">
    <h3 class="p-3 text-center">Doctor List</h3>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Certifications</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var doctor in @Model.DoctorDtoList)
        {
            <tr>
                <td>@doctor.name @doctor.surname</td>
                <td>

                    @foreach (var cert in @doctor.certifications)
                    {
                        @cert
                    }
                </td>

            </tr>
        }
        </tbody>
    </table>
</div>


<div style="margin-top: 12px; width: 324px; text-align: center">
    <RadzenLink Text=":)" Path="https://cat-bounce.com/" Target="_blank"/>
</div>

<SfDialog Width="230px" @bind-Visible="@IsVisible">
    <DialogButtons >
        <RadzenButton Text="Not implemented" Click="@ToFalse" Style="align-content: center"></RadzenButton>
    </DialogButtons>
</SfDialog>

@code{
    private bool IsVisible { get; set; }

    private void ToTrue()
    {
        IsVisible = true;
    }

    private void ToFalse()
    {
        IsVisible = false;
    }

}